@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Name</h1>
    <h2>@Model.Cuisine</h2>

    <div>
        <p>
            @Model.Id : @Model.Name : @Model.Cuisine
        </p>
    </div>    
</body>
</html>