@model OdeToFood.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "OdeToFood Home Page";
} 
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td><a asp-action="Details" asp-route-id="@restaurant.Id">Details</a></td>
            </tr>
        }
    </table>
    <p>
        <a asp-action="create">Add New Restaurant</a>
    </p>

    <div>
        <p>
            @Model.CurrentMessage - @DateTime.Now.Year
        </p>
    </div>
    
    